.foto_slider {
    width: 120px;
    height: 70px;
}

.foto_slider_show {
    width: 723px;
    height: 350px;
}

.foto_about_show {
    width: 300px;
    height: 200px;
}

.foto_about {
    width: 120px;
    height: 70px;
}