<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div id="main">
        <ul>
            <li v-for="item in personas" v-text="item"> </li>
        </ul>
        <label for="nombre">Nombre</label>
        <input type="text" v-model="name" v-on:keyup.enter="addName">
    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <script type="text/javascript">
        new Vue({
            el: '#main',
            data: {
                personas: ['rodrigo', 'juan', 'pedro', 'paco']
            },
            name: '',
            methods: {
                addName: function() {
                    this.personas.push(this.name);
                    this.name = '';
                }
            }
        });
    </script>
</body>

</html>